@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Titles */
* {
    background-color: #350E25;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.slogan {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    /* Increased from 32px for desktop */
    margin: 80px 0;
    /* Add some spacing around */
}

.slogan .comm {
    color: #F47D34;
    font-size: 96px;
    /* Increased from 56px */
    font-style: italic;
    font-weight: 700;
}


@media (max-width: 480px) {
    .slogan {
        font-size: 14px;
        margin: 20px 0;
    }

    .slogan .comm {
        font-size: 24px;
    }
}